.env
.terragrunt-cache
.DS_Store
terraform.tfvars
*.terraform.tfvars

variables.tf
*.variables.tf

terraform.tfstate
*.terraform.tfstate

terraform.key.json
*.terraform.key.json

terraform.tfstate.backup
*.terraform.tfstate.backup

terraform.lock.hcl
*.terraform.lock.hcl

.terraform
*.terraform

.terraform.*
*..terraform.*

group_vars/all/mysql.yml
